@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b, strong {
  font-weight: 700; }

button, input, optgroup, select, textarea {
  color: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button, select {
  text-transform: none; }

body {
  background: #ededed;
  color: #666;
  font-size: 14px;
  font-family: 华文黑体,"Microsoft YaHei",微软雅黑,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
  color: #5079d9;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

a, a:link, a:visited, a:hover, a:active {
  background-color: transparent;
  color: #666;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

p {
  display: block; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

input {
  line-height: normal; }

.wrapper {
  background-image: url(../img/bg.png);
  background-size: 100px;
  background-repeat: repeat;
  min-height: 800px;
  min-width: 630px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.dialog {
  background: url(../img/dialog_gray_bg.png) #fff bottom repeat-x;
  border-radius: 12px;
  display: none;
  margin: -163px 0 0 -218px;
  width: 436px;
  position: fixed;
  left: 50%;
  top: 50%; }
  .dialog .title {
    border-radius: 13px 13px 0 0;
    height: 69px;
    overflow: hidden; }

.v2 div.dialog.dialog_shadow {
  display: block;
  margin-top: -338.5px; }

.v2 .dialog {
  width: 450px;
  border: 1px solid #dadada;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  position: absolute; }
  .v2 .dialog .title {
    background: linear-gradient(#fff, #f5f5f5);
    height: auto;
    overflow: visible;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08); }

.v2 .dialog_shadow {
  -webkit-box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 10px 20px -10px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 10px 20px -10px rgba(0, 0, 0, 0.04);
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 10px 20px -10px rgba(0, 0, 0, 0.04); }

.v2 .copyright {
  width: 100%;
  clear: both;
  color: #434d55;
  font-size: 12px;
  padding: 0 0 60px;
  position: absolute;
  bottom: 0;
  text-align: center; }

.v2 .info_wrapper2 > ul > li {
  float: right; }
  .v2 .info_wrapper2 > ul > li:first-child {
    float: left; }

.copyright > div {
  display: inline-block;
  margin: 0 auto; }

.copyright h2, .copyright h3 {
  float: left;
  height: 15px;
  line-height: 15px;
  color: #757575; }

.copyright h4 {
  clear: both;
  padding: 10px 0 0; }

.login_v2 .dialog .title {
  position: relative;
  background-image: url(../img/smartisan_logo.png);
  background-size: 160px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 92px;
  margin: 23px 0 50px;
  padding: 75px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .login_v2 .dialog .title h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 0;
    height: auto;
    color: #333;
    font-weight: 400;
    font-size: 20px; }

.login_v2 .dialog .content {
  padding: 0 40px 22px; }

.login_v2 .login_form .btn_wrapper {
  clear: both;
  margin: 30px 0 0; }

.login_v2 .info_wrapper2 {
  padding-top: 2px;
  margin-bottom: -10px;
  text-align: center;
  font-size: 14px;
  margin-top: 24px;
  position: relative; }

.login_v2 .agreement {
  width: 100%;
  font-size: 12px;
  margin: 30px 0 0;
  padding-top: 24px;
  border-top: 1px solid #dadada;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset; }
  .login_v2 .agreement span {
    display: block;
    color: #999;
    text-align: center; }

.form_v2 .info_wrapper2 li {
  color: #999;
  font-size: 12px;
  line-height: 17px; }
  .form_v2 .info_wrapper2 li a {
    color: #999;
    font-size: 12px;
    line-height: 17px; }
    .form_v2 .info_wrapper2 li a:hover {
      color: #406dd6; }

.login_three li {
  width: 20px;
  height: 17px;
  margin-left: 15px;
  float: left;
  cursor: pointer;
  background-image: url(../img/icons.png);
  background-size: 110px 17px;
  background-position: 1px 0;
  background-repeat: no-repeat;
  transition: all 1s ease; }
  .login_three li.text {
    background-image: none;
    margin-left: 0;
    width: auto;
    color: #bbb;
    font-size: 100%;
    cursor: default;
    color: #999; }
  .login_three li.wechat {
    margin-left: 10px; }
  .login_three li.weibo {
    background-position: -30px 0; }
  .login_three li.qq {
    background-position: -62px 0; }
  .login_three li.alipay {
    background-position: -92px 0; }
  .login_three li:hover {
    background-image: url(../img/icons_hover.png); }

.btn {
  border-radius: 6px;
  clear: both;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 0 0 12px;
  padding: 1px;
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.496094) 0 1px 0; }
  .btn.disabled {
    cursor: not-allowed;
    opacity: .4;
    pointer-events: none; }

.btn_primary {
  background: #6383c6;
  background: linear-gradient(#6383c6, #4262af); }

.clearfix::after {
  content: "";
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden; }
